<div class="list-group">
    <div class="list-group-item">
        <h2>{{annonce.titre}}</h2>
        <p>{{annonce.description}}</p>
        <p> Prix : {{annonce.prix}}€</p>
        <button *ngIf="!modeProprio" class="btn btn-success" (click)="displaytrue()"> Faire une offre </button>
    </div>
    
</div>

<app-add-proposition *ngIf="display" [annonceID]="annonce.id" (result)="displayEvent($event)"></app-add-proposition>

<app-proposition-annonce *ngIf="modeProprio" [annonceID]="annonce.id" ></app-proposition-annonce>
<app-myproposition *ngIf="!modeProprio" [annonceID]="id" [utilisateurID]="utilisateurID" ></app-myproposition>