<div class=" proposition-group list-group">
    <h2>Mes proposition actuel : </h2>
    <a *ngFor="let proposition of propositions"  class="list-group-item list-group-item-action card shadow an_card" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{proposition.prix}}€</h5>
        <h5 class="mb-1">Date : {{proposition.createdAt}}</h5>
        <h5 *ngIf="proposition.status == 2">Accepter !</h5>
        <h5 *ngIf="proposition.status == 1">Refuser !</h5>
        <h5 *ngIf="proposition.status == -1">En attente</h5>
      </div>
    </a>
</div>