<div class="list-group">
    <form [formGroup]="form" class="list-group-item">
        <fieldset>
            <legend>Login</legend>
            <div class="form-field">
                <label>Email:</label>
                <input name="email" class="form-control" formControlName="email">
            </div>
            <div class="form-field">
                <label>Password:</label>
                <input name="password" class="form-control" formControlName="password" 
                    type="password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button class="btn btn-success"
                    (click)="login()">Login</button>
        </div>
    </form>
   <p>Pas encore de compte ? Inscrit toi en moins de 2 minutes en cliquant <a href="/register">ici</a></p> 
</div>