<div class="list-group">
    <div class="list-group-item">
        <h2>Ajouter une annonce :</h2>
    </div>
    <form action="" class="list-group-item">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Titre de l'annonce :</label>
            <input type="text" [(ngModel)]="newAnnonce.titre" 
                   name="titre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Description de l'annonce :</label>
            <input type="text" [(ngModel)]="newAnnonce.description" 
                   name="description" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Prix :</label>
            <input type="number" [(ngModel)]="newAnnonce.prix" 
                   name="prix" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit"(click)="addAnnonce()" class="btn btn-success" >
                Ajouter
            </button>
        </div>
    </form>
</div>
