<div ><!--*ngIf="display"-->
    <h2>Faire une proposition : </h2>
    <div>
      
      <form class="form">
        <label for="proposition_prix">Prix : </label>
        <input type = "number" id="proposition_prix" [(ngModel)]="proposition.prix" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-success" (click) = "valider()">Valider</button>
        <button class="btn btn-error" (click) = "annuler()">Annuler</button>
      </form>
    </div>
  </div>