<div class="list-group">
    <div class="list-group-item">
        <h2>Mise a jour des données :</h2>
    </div>
    <form action="" class="list-group-item">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Nom :</label>
            <input type="text" [(ngModel)]="user.nom" 
                   name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Prénom :</label>
            <input type="text" [(ngModel)]="user.prenom" 
                   name="prenom" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Email :</label>
            <input type="email" [(ngModel)]="user.email" 
                   name="email" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Mots de passe :</label>
            <input type="password" [(ngModel)]="user.password" 
                   name="password" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Confirmation :</label>
            <input type="password" [(ngModel)]="user.password_crf" 
                   name="password_crf" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit"(click)="updateUser()" class="btn btn-success" >
                Modifier
            </button>
        </div>
    </form>
</div>
