<nav class=" fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" id="LogoPage">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="NoIcon">
          <a href="/add-annonce" id="addAnnonce">
            <img [src]="addIcone" alt="AddIcone">
            <p> Déposer une annonce</p>
          </a>
        </li>
        <li class="NoIcon">
          <form id="recherche" class="form-inline">
            <button (click)="searchClick()" class="btn my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
            <input (ngModelChange)="search()" class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" [(ngModel)]="searchBar" [ngModelOptions]="{standalone: true}">
          </form>
        </li>
        </ul>
        <ul class="nav navbar-nav me-auto" >
                  <li class="nav-item dropdown" *ngIf="auth.isLoggedIn(); else elseBlock">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="user_icon" width="40" height="40" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item disable" (click)="mesAnnonces()">Mes annonces</a>
                    <a class="dropdown-item" href="/updateUser">Modifier mon profile</a>
                    <a class="dropdown-item disable" (click)="auth.logout()">Se déconnecter</a>
                  </div>
                </li>   

          <ng-template #elseBlock>          
            <li class="">
              <a href="/login" id="CompteLogo">
                <img [src]="user_icon" alt="user">
                <p>Se connecter</p>
              </a>
            </li>
          </ng-template>

      </ul>

    </div>
  </nav>
 <article id="conteneur">
  <router-outlet></router-outlet>
 </article>
  
