#LogoPage {
    color:#ff6e14 ;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#addAnnonce
{
    background-color: #ff6e14;
    margin-top: auto;
    margin-left: auto;
    height: 40px;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: white;
    display: inline-flex;
    vertical-align: middle;

}
.NoIcon{
    padding-top: 10px;
}
#addAnnonce img
{
    height: 55%;
    margin-top: 9px;
}
#addAnnonce p
{
    margin-top: 8px;
    color: white;
    
}

#recherche 
{
    display: inline-flex;
    height: 40px;

}
#recherche input
{
    border: none;
   border-bottom: 1px solid;
   background-color: transparent;
   
}

#recherche input::placeholder
{
   color: black;
   
}
#recherche button
{
  
}

li
{
    margin-right: 1vw;
    margin-left: 1vw;
}

nav{
    height: 100px;
}

#conteneur{
    margin-top: 105px;
    padding-left: 5vw;
    padding-right: 5vw;
}

#CompteLogo 
{
    text-align: center;
    text-decoration: none;
    color: black;
}

#CompteLogo p
{
    height: 0;
}

#CompteLogo img
{
    margin-left: 32px;
    height: 32px;
}

a.disabled {
    pointer-events: none;
  }


  .bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }