<div class=" annonce-group list-group">
    <h2>Les dernières annonces</h2>
    <a *ngFor="let annonce of annonces" [routerLink]="['/annonceDetail', annonce.id]" class="list-group-item list-group-item-action card shadow an_card" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{annonce.titre}}</h5>
        <small>{{annonce.createdAt}}</small>
      </div>
      <p class="mb-1">
        {{annonce.description}}
      </p>
      <small>{{annonce.prix}}€</small>
    </a>
</div>