<div class=" proposition-group list-group">
    <h2>Toutes les propositions : </h2>
    <a *ngFor="let proposition of propositions"  class="list-group-item list-group-item-action card shadow an_card" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{proposition.prix}}€</h5>
        <button *ngIf="!vendu && proposition.status == -1" (click)="reponseProposition(proposition.id,2)" class="btn btn-primary">Accepter</button>
        <button *ngIf="!vendu && proposition.status == -1" (click)="reponseProposition(proposition.id,1)" class="btn btn-warning">Refuser</button>
        <p *ngIf="proposition.status == 2" >Accepter !</p>
        <p *ngIf="proposition.status == 1" >Refuser !</p>
        <small>{{proposition.utilisateurID}}</small>
      </div>
    </a>
</div>